@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar.ql-snow {
  border: none;
  padding: 0;
  margin-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ql-container.ql-snow {
  border: none;
  height: 200px;
  overflow-y: auto;
  padding: 0;
}

.ql-editor {
  padding: 0;
  min-height: 200px;
}

.ql-toolbar button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: background 0.2s;
}

.ql-toolbar button:hover {
  background-color: #f3f3f3;
}
